.container	
{
	width:288px;
	height:420px;
	position:absolute;
	top:180px;
	left:660px;
	border:10px solid #351616;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	border-radius:50px;
}
.selector
{
	background: url(../Images/selector.png);
}			
.hovering
{
	background: url(../Images/selector.png);
	opacity: 0.5;	
}						
.container .TabMenu
{
	position: relative;
	top: 20px;
	left: 40px;
	z-index: 10;
	cursor:hand;
}
.container .TabMenu span
{
	display: inline-block;
	height: 77px;				
	margin: 0px;
	padding:0px;
}
.container .ContentFrame
{
	width: 260px;
	height:306px;
	left: 50px;
	top: 40px;
	position: relative;
	overflow:hidden;
}			
.container .ContentFrame .AllTabs
{
	position: relative;	
	left:0px;		
	width: 1190px;
	height: 306px;	
	overflow:hidden;
}
.container .ContentFrame .AllTabs .TabContent
{
	width:360px;
	height: 320px;
	margin-right:0px;
	text-align: justify;
	float:left;
	overflow:hidden;				
}
#login .field
{
	border:10px solid #351616;
	font-size:12px;
	line-height:1.5em;
	padding:4px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	border-radius:50px;
	
}	
#login .button
{
	border:0;
	padding:0 30px;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:12px;
	color:#fff;
	text-shadow:#007dab 0 1px 0;
	background:#424242;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	border-radius:50px;
	cursor:pointer;
}
#label
{
	color:#DFFAF9;
}
