::-webkit-scrollbar
{
	width:7px;
	height:7px;
}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment
{
	display:block;
	height:0;
	background-color:transparent;
}
::-webkit-scrollbar-track-piece
{
	background-color:#000000;
	-webkit-border-radius:50px;
	-webkit-border-bottom-right-radius:50px;
	-webkit-border-bottom-left-radius:50px;
}
::-webkit-scrollbar-thumb:vertical
{
	background-color:#D4961B;
	-webkit-border-radius:8px;
}
::-webkit-scrollbar-thumb:horizontal
{
	background-color:#D4961B;
	-webkit-border-radius:8px;
}
::-webkit-scrollbar-thumb:hover 
{
	background-color:#A96902;
}
body
{
	padding-top:10px;
	background-image: url("../Images/bg11.jpg");
}
.c
{
	border:10px solid #351616;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	border-radius:50px;
}
#head
{
	color:#DFFAF9;
	font-size:30px;
}
iframe 
{
		padding:20px;
		
	scrollbar-base-color: red;
	scrollbar-arrow-color: red;
	
	
  -moz-border-radius: 42px;
  -webkit-border-radius: 42px; 
  border-radius: 42px; 

  -moz-box-shadow: 150px 50px 104px #000; 
  -webkit-box-shadow: 150px 50px 104px #000; 
  box-shadow: 150px 50px 104px #000; 

  
  
}

