.tab
{
	border: 5px solid #351616;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width:500px;
	padding:25px
}
th
{
	text-decoration:underline;
	text-align:center;
	padding-bottom:10px;
}
#color
{
	background-image: linear-gradient(bottom, #C7F582 0%, #E9F0DD 100%, #96FFA6 100%);
	background-image: -o-linear-gradient(bottom, #C7F582 0%, #E9F0DD 100%, #96FFA6 100%);
	background-image: -moz-linear-gradient(bottom, #C7F582 0%, #E9F0DD 100%, #96FFA6 100%);
	background-image: -webkit-linear-gradient(bottom, #C7F582 0%, #E9F0DD 100%, #96FFA6 100%);
	background-image: -ms-linear-gradient(bottom, #C7F582 0%, #E9F0DD 100%, #96FFA6 100%);
}
td
{	
	padding-bottom:10px;
	text-align:left;
}
.tab1
{
	border: 5px solid #351616;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width:270px;
	padding:10px
}